.email {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* balao de aviso  */

.tooltip {
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(85, 85, 85, 0.829);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;

    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}


.mostrar {
    opacity: 1;
}

