/* RESET ♡  */

/*dicas pra eu nao esquecer : 

Tag            Fator (Razão)  valor em rem   valor em px (≈)
Texto do Corpo     1              1rem           16px
<h3>               1.200          1.2rem         19.2px
<h2>               1.440          1.44rem        23.0px
<h1>               1.728          1.73rem        27.6px
  
aumentar sempre 1px do font-size do html na media query dos dispositivos

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* --------------- 🕊️ -------------- */

/* CONFIG. DAS FONTES ♡  */

/* fonte dos titulos ♡  */

@font-face {
    font-family: 'malibu';
    src: url(../fonts/malibu.ttf) format(truetype);
}

@font-face {
    font-family: 'mouldy';
    src: url(../fonts/mouldy.ttf);
}

/* --- 🕊️  */

/* fonte dos textos ♡  */

@font-face {
    font-family: 'roboto body';
    src: url(fonts/roboto.ttf) format(truetype);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* versao italica ♡  */

@font-face {
    font-family: 'roboto body';
    src: url(fonts/roboto-italic.ttf) format(truetype);
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* ---------- 🕊️ ---------- */

/* ROOT ♡  */

/* root de fontes ♡  */

:root {
    --fonte-titulo: 'malibu', sans-serif;
    --fonte-corpo: 'roboto body', sans-serif;
}

/* root de cores ♡  */

:root {
    --cor-corpo: '#737373';
    --cor-titulo: '#4D4D4D';
    --outros: '#B3B3B3';
}

/* ---------- 🕊️ ----------  */

/* ! body e configs gerais ♡  */

body {
    background-color: #e8e8e8;
    font-family: var(--fonte-corpo);
    color: var(--cor-corpo);
    margin: 0;
}

a:hover {
    cursor: pointer;
}

h1 {
    color: rgb(0, 0, 0) !important;
    text-shadow: rgb(255, 255, 255) 10px 5px 8px;
    font-size: 1.7rem;
    letter-spacing: 0.4em !important;
    
}

h1,
h2 {
    text-align: center;
    color: var(--cor-titulo);
    letter-spacing: 0.3rem;
    font-family: var(--fonte-titulo);
}

h2 {
    color: rgb(0, 0, 0);
    
    font-size: 1.5em !important;
}

h3 {
    font-family: var(--fonte-corpo);
    font-size: 1.1rem;
    font-weight: 700;
}

/*  ! ----------  */

/* topo  */
.nuvens-borda {
    width: 100%;
}

#down {
    display: none;
}

/* ------  */

/* PAINEL DE APRESENTACAO / TELA INICIAL / HERO  */

#nomezinho {
    position: absolute;
}

.nuvem-intro {
    margin-top: 5em;
    margin-bottom: 10em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuvem-intro img {
    width: 100%;
}

.nuvem-intro span {
    font-size: 0.9rem;
}

/* --- */

button {
    width: 30%;
    padding: 2.7%;
    margin-top: 8%;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(167, 167, 167) 0px 0px 6px;
}

button:hover {
    cursor: pointer;
}

/* ---------- 🕊️ ----------  */

/* SKILLS  */

#servicos_titulo {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.skills {
    display: flex;
    flex-direction: column;
}


.skills img {
    width: 100%;
}

.skills-demo {
    border: 2px solid #a1a1a1e3;
    background-image: url(https://i.pinimg.com/736x/24/e2/c1/24e2c17567a995cabd65ea5a31b57ebf.jpg);
    background-size: cover;
    border-radius: 12px;
    padding: 7.8%;
    margin: 12px 0 30px 0;
}

.skills-demo h2 {
    text-align: center;
    padding: 2.2%;
}


.skills-demo p {
    font-size: 1rem;
    text-align: justify;
    padding: 1.2%;
}

.tecnologias-icon h3 {
    padding: 3% 0.9%;
}

.tecnologias-icon img {
    width: 9%;
}

/* ---------- 🕊️ ----------  */

/* PROJETOS  */

main #obs {
    padding-top: 1.2em;
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
}

.projetos h1,
h2 {
    text-align: center;
    padding: 5%;
    font-size: 2rem;
}

.projetos-demo {
    border: 2px solid #a1a1a1e3;
    background-color: white;
    border-radius: 12px;
    padding: 2%;
    margin: 12px 0 30px 0;
}

.projeto {
    margin: 3%;
}

.projeto p {
    font-size: 1rem;
    text-align: justify;
    padding: 1.2%;
}

.projeto a {
    color: grey;
}

.projeto .imagem-projeto {
    width: 100%;
    margin-bottom: 1.2%;
    border-radius: 3px;
    padding: 1%;
}


/* ---------- 🕊️ ----------  */

/* nuvem footer  */

.nuvem-footer img {
    rotate: calc(180deg);
}

/* ---------- 🕊️ ----------  */

footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

footer sub {
    padding-bottom: 1em;
}

footer h2 {
    padding: 2%;
}

.email {
    color: #414141;
    margin-top: 1.4rem;
    font-size: 0.9rem;
}

.email:hover {
    color: #757575;
}

#copy_icon img {
    width: 5%;
    vertical-align: middle;
}

.links {
    padding: 7%;
    font-size: 1rem;
}

.links ul a {
    font-size: 0.9rem;
    color: black;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 20%;
}